@import url(Responsive.css);
@import url(../Style/Boostrap/bootstrap-5.3.3-dist/css/bootstrap.min.css);
@import url(../Style/fontawesome-free-6.7.2-web/css/all.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-image: linear-gradient(120deg,rgb(1, 48, 59),rgb(212, 226, 241)),url("images/IMG_3770.JPG");
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
}

i{
    font-size: 2rem;
    color: #fff;
}

i:active{
    color: #fadada;
    color: #e0e0e0;
}

.navbar{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right,red,white);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

img{
    object-fit: contain;
}

.navbar img{
    width: 10rem;
}

button{
    padding: 5px 40px;
    border: 0;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
}

form{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}
form h1{
    margin-bottom: 2rem;
}
.container:nth-child(2){
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    position: relative;
}

.group{
    display: flex;
}

.banner{
    width: 40%;
}

.form-control{
    color: #726ada;
}

option{
    font-size: 1rem;
    color: #929292;
}

.banner p{
    position: absolute;
    color: rgb(255, 255, 255);
    width: 200px;
    bottom: 20px;
    left: 5%;
}

span{
    font-family: arial black;
    font-style: normal;
    font-weight: bolder;
    font-size: 2rem;
    text-transform: uppercase;
}
